/* Parte debaixo*/


.caixaB {
    width: 100%;
    height: 0vh;
    background: #293748;
   
    overflow: hidden; 
    position: relative;
    transition: 0.7s;
  }
.caixaB-desce {
    height: 100vh;
}
.caixaB-subir {
    height: 60vh;
}



  .Setbaixo {
    width: 70px;
    height: 70px;
    background: white; 
    border-radius: 500px;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    }
    .Setbaixo:hover {
     background: rgba(177, 167, 167, 0.957);   
    }
    .Setbaixo-subir {
     display: none;
    }
    .Setbaixo-desce {
     display: block;
    }

.caixaB1 {
    outline: 3px solid #3E4659;
    outline-offset: -3px;
    border-radius: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    
    min-width: 0px;
    max-width: 0px;
    
    min-height: 320px;
    max-height: 800px;
   
    transition: 1.2s;
}

.caixaB1-desce {
    min-width: 320px;
    max-width: 500px;
}
.caixaB1-clique {
    min-height: 400px;
    max-height: 800px;
}


.fotoB {
    width: 100%;
    position: initial;
    min-height: 0px;
    max-height: 0px;
   
    min-height: 320px;
    max-height: 300px;
   
   
    border-radius: 15px;
    transition: 1s;
    object-fit: cover;   
}

.fotoB-clique {
    min-height: 0px;
    max-height: 0px;
    position: absolute;
}


    

.videoB {
   
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
 /*  outline: 1px solid wheat; */
}

.botaoB {
    width: 90px;
    height: 100%;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
   /* outline: 1px solid black;*/
}  
.botaoB-clique {
    height: 0px;
    transition: 0.1s;
}

.botaoB1 {
    /*outline: 1px solid blue;*/
    width: 100%;
    height: 86px;
    object-fit: cover;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 4s;
    opacity: 0;
}
.botaoB1-desce {
    opacity: 1;
}
.botaoB1-clique {
    height: 0px;
    transition: 0.1s;
}
 


.trailer {
    color: white;
    left: 50%;
    top: 101%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
}
.trailer p {
    
    font-size: 4vh;
}

.logoB {
    width: 100%;
    
    height: 15vh;
    position: absolute;
    text-align: center;
    bottom: 3%;
    
  }



  .logoB1 {
    width: 90%;
    height: 0%;
    padding: 1vh;
    object-fit: contain;
  }
  .logoB1-desce {
    height: 100%;
  }
  
